<launch>
    <arg name="rviz" default="true" />

    <group if="$(arg rviz)">
        <include file="$(find quintic_polynomials_planner_ros)/launch/rviz.launch" />
    </group>

    <node pkg="quintic_polynomials_planner_ros" type="quintic_polynomials_planner_ros" name="quintic_polynomials_node" output="screen">
        <param name="Filepath" value="/home/cai/train_ws/src/2D_trainer/pkgs/quintic_polynomials_planner_ros/path_saved/path.yaml"/>
    </node>

</launch>
